# *****************************************************************************
# .env Sample file to keep all possible configuration keys for this application
# Copy this file to ./config/.env in order for dotenv plugin to load
# *****************************************************************************

# *****************************************************************************
# NODE_ENV    := Node environment
# *****************************************************************************
NODE_ENV=development

# *****************************************************************************
# APIPORT     := Port to run the API on
# APIROOT     := root of the API before the version
# APIVERSION  := version of the API
# https://<host>:<apiport>/<apiroot>/<apiversion>/<endpoints...>
# *****************************************************************************
APIPORT=8080
APIROOT=api
APIVERSION=v1

# *****************************************************************************
# ALLLOGFILE  := Log file to store default log entries
# *****************************************************************************
ALLLOGFILE=logs/all-logs.log